MARIADB_ROOT_PASSWORD=change-root-password
MARIADB_DATABASE=board_cafe_kiosk_2603
MARIADB_USER=boardwave
MARIADB_PASSWORD=change-app-password

POSTGRES_DB=board_cafe_kiosk_2603
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-postgres-password
